@page
@model IndexModel
@{
    ViewData["Title"] = "Secure Page";
}

<div class="text-center">
    <h1 class="display-4">Secure Page</h1>
    This is a secure page. You can only get here if you've logged in.
</div>