@page
@model OAuthSample.Web.Pages.Unsecure

@{
    ViewData["Title"] = "Unsecure";
}
<div class="text-center">
    <h1 class="display-4">Unsecure Page</h1>
    This is an unsecure page. You can get here even if you've logged in.
</div>
